@model Solita_Test_Exercise.ViewModels.HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @Model.TotalVaccinesCame<br />
    @Model.TotalVaccinationsNumber
</div>
