@model List<THL.DAL.Entities.Vaccine>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (var v in Model)
            {
                <ul>
                    
                    @v.VaccinationId
                </ul>
            }
</div>
